<h2>Recipes</h2>

<app-recipe-filter class="col-3"></app-recipe-filter>

@if (filteredRecipes$ ?? recipes$ | async; as recipes){
    <div class="container"> 
            <p> Recipes Length {{recipes.length}}</p>
        <div class = "row">
            @for (recipe of recipes; track recipe.id ?? $index){
                <ul class="card col">
                    <li> {{recipe.title }}</li>
                    <li> Cooking Time: {{recipe.cookingTime }}</li>
                </ul>
            }
        </div>
    </div>
}
